<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Latest on {{ category }}</h2>
          <span
            >Details to details is what makes Hexashop different from the other
            themes.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p-carousel [value]="products" [numVisible]="3" [numScroll]="3">
          <ng-template let-product pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="mb-3 img-container">
                  <img
                    [src]="product.image"
                    [alt]="product.title"
                    class="product-image"
                  />
                </div>
                <div>
                  <h4 class="mb-1">{{ product.title }}</h4>
                  <h6 class="mt-0 mb-3">$ {{ product.price }}</h6>
                  <div class="car-buttons mt-5">
                    <p-button
                      type="button"
                      styleClass="p-button p-button-rounded mr-2"
                      icon="pi pi-search"
                    ></p-button>
                    <p-button
                      type="button"
                      styleClass="p-button-success p-button-rounded mr-2"
                      icon="pi pi-star-fill"
                    ></p-button>
                    <p-button
                      type="button"
                      styleClass="p-button-help p-button-rounded"
                      icon="pi pi-cog"
                    ></p-button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>
